<div class="row" ng-app="AngulaRails" ng-controller="tacoorder">
	<div class="col-md-6">
		<h3>add taco to order</h3>
		<form ng-submit="addtaco()">
			<div class="form-group">
				<label for="name">name your creation</label>
				<input type="text" class="form-control" placeholders="super tasy" ng-model="taco.name"></input>
			</div>
			<div class="form-group">
				<label for="filling">select your filling</label>
				<select ng-model="taco.filling" class="form-control" ng-options="f for f in fillings">
					<option value="">pick a filling</option>
				</select>
			</div>
			<div class="form-group">
				<label>extras</label>
				<div class="checkbox" ng-repeat="extra in extras">
					<label>
						<input type="checkbox" ng-model="extra.checked"></input>{{extra.name}}
					</label>
				</div>
			</div>
			<button class="btn btn-primary">submit</button>
		</form>
	</div>
	<div class="col-md-6">
		<h3>your order</h3>
		<table class="table">
			<tbody>
				<tr ng-repeat="taco in tacos">
					<td>{{ taco.name }}</td>
					<td>{{ taco.filling }}</td>
					<td>
						<span ng-repeat="extra in taco.extras">
						{{extra}}
						</span>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

